SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://user:password@localhost:5432/toc
DJANGO_SETTINGS_MODULE=config.settings.development

S3_ACCESS_KEY_ID=your-s3-access-key-id
S3_SECRET_ACCESS_KEY=your-s3-secret-access-key
S3_BUCKET_NAME=your-s3-bucket-name
S3_REGION_NAME=your-s3-region-name
